.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  background-color: transparent;
  width: 1400px;
  height: 100%;
  font-weight: 700;
}
