<div class="wrapper">
  <div class="form">
    <form [formGroup]="signInForm" class="sign-in-form" (ngSubmit)="onSubmit()">
      <h2>Đăng nhập hoặc tạo tài khoản</h2>
      <h3>Phone number/Email</h3>
      <div>
        <input class="input" placeholder="Enter your phone number/Email" formControlName="email" />
        <div *ngIf="form.email.invalid && (form.email.dirty || form.email.touched)">
          <div *ngIf="form.email.errors?.['required']">
            <span class="text-red-600">Email/phone number is required.</span>
          </div>
          <div *ngIf="form.email.errors?.['pattern']">
            <span class="text-red-600">Email/phone number is invalid.</span>
          </div>
        </div>
      </div>

      <div class="btn-continue">
        <app-button class="btn" [content]="contentBtn"></app-button>
      </div>

      <h3 class="checkout">Checkout as guest</h3>

      <div class="login-others">
        <p class="text">
          <span>hoặc Đăng nhập bằng</span>
        </p>
      </div>

      <div class="others-method">
        <button class="fb">
          <span>FACEBOOK</span>
        </button>

        <button class="gg" (click)="handleSignInGoogle()">
          <span>GOOGLE</span>
        </button>
      </div>
    </form>
  </div>

  <div class="image">
    <img src="https://www.lotteria.vn/grs-static/images/login-banner.jpg"/>
  </div>
</div>
