.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 1270px;
  height: fit-content;
  border-radius: 20px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-shadow);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 0px 0px 20px;
  width: 22%;
  background-color: #ff5b6a;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.f-name {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 136px;
  margin: 0 auto 16px;
  font-size: 50px;
}

.name {
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.icon-score {
  display: inline-block;
  text-transform: none;
  font-weight: 400;
  color: white;
  font-size: 20px;
  background: url('https://www.lotteria.vn/grs-static/images/icon-point.svg') no-repeat;
  padding: 0 0 0 30px;
}

.user-options {
  width: 100%;
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: column;
  width: 78%;
}

.head-title {
  border-bottom: 1px solid #FF9EA2;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  padding: 24px 30px;
  position: relative;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 32px 24px 0;
  margin-bottom: -50px;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding: 32px 24px 40px;
}

.form-label {
  font-weight: 500;
  display: block;
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  line-height: 1.5;
  flex: 0 0 25%;
  font-size: 16px;
  max-width: 25%;
}

.form-input {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  margin-bottom: 20px;
}

.form-control {
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: block;
  width: 100%;
  height: calc(1.5em + 1rem + 10px);
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ff5b6a;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btns {
  display: flex;
  flex-direction: row;
  margin-bottom: 44px;
}
