<div class="wrapper">
  <app-menu-item [content]="bestseller" [link]="bestsellerLink" [image]="bestsellerImage"></app-menu-item>
  <app-menu-item [content]="promotion" [link]="promotionLink" [image]="promotionImage"></app-menu-item>
  <app-menu-item [content]="chicken" [link]="chickenLink" [image]="chickenImage"></app-menu-item>
  <app-menu-item [content]="chickenset" [link]="chickensetLink" [image]="chickensetImage"></app-menu-item>
  <app-menu-item [content]="burger" [link]="burgerLink" [image]="burgerImage"></app-menu-item>
  <app-menu-item [content]="combo" [link]="comboLink" [image]="comboImage"></app-menu-item>
  <app-menu-item [content]="riceandspaghetti" [link]="riceandspaghettiLink" [image]="riceandspaghettiImage"></app-menu-item>
  <app-menu-item [content]="dessert" [link]="dessertLink" [image]="dessertImage"></app-menu-item>
  <app-menu-item [content]="pack" [link]="packLink" [image]="packImage"></app-menu-item>
  <app-menu-item [content]="drinks" [link]="drinksLink" [image]="drinksImage"></app-menu-item>
</div>
