.wrapper {
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-between;
}

.inner {
  flex: 1 25%;
  max-width: 23%;
  margin-bottom: 26px;
  display: block;
  border-radius: 10px;
  padding: 15px 15px;
  margin: 10px;
  height: 100%;
  position: relative;
  background-color: transparent;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 15%);
}

.descriptions {
  display: flex;
  flex-direction: column;
  opacity: .7;
  margin: 20px 0;
  font-size: 14px;
  height: 40px;
  overflow-y: hidden;

  .description {
    display: inline;
  }
}

.product-price {
  text-align: right;
  line-height: 100%;
  margin-top: 22px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 25px;
  font-weight: 700;
  color: #ff5b6a;
}

.btn-add {
  display: flex;
  justify-content: center;
}
