<div class="flex flex-col items-center justify-center">

<!--  Menu highlights-->
  <div class="flex flex-row items-center w-3/5 h-32 bg-[#ffeae3] rounded-[10px] shadow-md mt-12 mb-12">
    <app-menu-highlights></app-menu-highlights>
  </div>

<!--  Special promotion-->
  <div class="flex flex-col w-3/5 h-fit">
<!--    Title-->
    <div>
      <app-title [content]="title"></app-title>
    </div>

<!--    Contents-->
    <div class="flex flex-row items-center justify-between w-full h-fit">
      <div class="products">
        <app-product [products]="products"></app-product>
      </div>
    </div>
  </div>

<!--  News-->
  <div class="flex flex-col w-3/5 h-fit">
    <app-title [content]="news"></app-title>
  </div>

</div>

<ng-template #noProducts>
  No more products!!!
</ng-template>
