<div class="wrapper">
  <div class="main">
    <div class="nav">
      <div class="avatar">
        <img />
        <div class="f-name">
          T
        </div>
        <div class="name">Thành</div>
        <div class="score">
          <span class="icon-score">0 Điểm</span>
        </div>
      </div>
      <div class="user-options">
        <app-nav-titles></app-nav-titles>
      </div>
    </div>
    <div class="content">
      <h2 class="head-title">TÀI KHOẢN MẠNG XÃ HỘI</h2>
    </div>
  </div>
</div>

