.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 1270px;
  height: fit-content;
  border-radius: 20px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-shadow);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 0px 0px 20px;
  width: 22%;
  background-color: #ff5b6a;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.f-name {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 136px;
  margin: 0 auto 16px;
  font-size: 50px;
}

.name {
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.icon-score {
  display: inline-block;
  text-transform: none;
  font-weight: 400;
  color: white;
  font-size: 20px;
  background: url('https://www.lotteria.vn/grs-static/images/icon-point.svg') no-repeat;
  padding: 0 0 0 30px;
}

.user-options {
  width: 100%;
  font-weight: 400;
}

