<div class="wrapper">
  <div class="menu-item" [routerLink]="['/promotion']" routerLinkActive="active">
    <div class="hover-top"></div>
    <div class="text-3xl font-bold bg-transparent">
      PROMOTION
    </div>
    <div class="hover-bottom"></div>
  </div>

  <div class="menu-item" [routerLink]="['/ordernow']" routerLinkActive="active">
    <div class="hover-top"></div>
    <div class="text-3xl font-bold bg-transparent">ORDER NOW</div>
    <div class="hover-bottom"></div>
  </div>

  <div class="menu-item" [routerLink]="['/birthday']" routerLinkActive="active">
    <div class="hover-top"></div>
    <div class="text-3xl font-bold bg-transparent">BIRTHDAY</div>
    <div class="hover-bottom"></div>
  </div>

  <div class="menu-item" [routerLink]="['/store']" routerLinkActive="active">
    <div class="hover-top"></div>
    <div class="text-3xl font-bold bg-transparent">STORE</div>
    <div class="hover-bottom"></div>
  </div>
</div>
